.blog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates four columns with equal width */
    gap: 10px; /* Adjust the gap between blogs as needed */ 
  }

  .blog-post-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }